@font-face {
  font-family: 'Christmas1';
  src: url('fonts/christmabet.woff2');
  font-weight: normal;
  font-size: xx-large;
}

@font-face {
  font-family: 'Christmas2';
  src: url('fonts/Christmas-font.woff2');
  font-weight: normal;
}



h1 {
  color: white;
  text-align: center;
  background-color:#2e04aa;
  font-size: 100px;
}

p {
  font-size: 20px;
}

#pic1 {
  border-radius: 50%;
  border: 15px solid rgb(153, 0, 255);
  transform: scale(0.45);
  position: absolute;
  top: 10px;   /* distance from top of page/container */
  left: 1px;  /* distance from left of page/container */
 
}

.container {
  position: relative;        /* overlay positioned relative to container */
  display: inline-block;     /* shrink to the image size */
}

.image {
  display: block;
  width: 200px;              /* set exact size instead of using scale */
  height: 200px;
  border-radius: 50%;
  border: 3px solid rgb(153, 0, 255);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;                /* initially hidden */
  background-color: rgba(0, 140, 186);
  transition: 0.5s ease;
  border-radius: 50%;       /* match the image shape */
}

.container:hover .overlay {
  height: 100%;             /* overlay fully covers image on hover */
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;               /* hide text by default */
  transition: opacity 0.5s ease;
}

.container:hover .text {
  opacity: 1;               /* show text on hover */
}

.button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 100px;
  width: 100%;
  cursor: pointer;
  
}
.button:active {
  transform: translateY(5px);
}
.button span {
  display: inline-block;
  position: relative;
  transition: 0.7s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -40px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 45px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.Home {background-color: #2e04aa;}
.Projects {background-color: #2e04aa;}
.About {color: #2e04aa;}
.Achievements {color: #2e04aa;}